<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>한양대학교 전기공학과</p>
    <p>무인지능제어 연구실</p>
    <p>석사연구생 송기훈</p>
    <p>인공지능제어, LLM</p>
    <p>Autonomous Vehicle, ROBOT</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>
